<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Talaba qo‘shish</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>➕ Talaba qo‘shish</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Ism</label>
                <input type="text" name="ism" placeholder="Ism kiriting">
            </div>

            <div class="form-group">
                <label>Familiya</label>
                <input type="text" name="familiya" placeholder="Familiya kiriting">
            </div>

            <div class="form-group">
                <label>Telefon</label>
                <input type="text" name="telefon" placeholder="+998...">
            </div>

            <div class="form-group">
                <label>Guruh</label>
                <select name="guruh">
                    <option>Tanlang</option>
                    {% for g in guruhlar %}
                        <option value="{{ g.id }}">{{ g.nom }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit">Saqlash</button>
        </form>
    </div>
</div>

</body>
</html>